<script>
import { GlButton, GlCollapsibleListbox } from '@gitlab/ui';
import * as Sentry from '~/sentry/sentry_browser_wrapper';
import { createAlert } from '~/alert';
import { __, s__ } from '~/locale';
import getComplianceFrameworkQuery from 'ee/graphql_shared/queries/get_compliance_framework.query.graphql';
import FrameworkBadge from '../shared/framework_badge.vue';

const frameworksDropdownPlaceholder = s__('ComplianceReport|Select frameworks');

export default {
  components: {
    GlButton,
    GlCollapsibleListbox,
    FrameworkBadge,
  },
  model: {
    prop: 'selected',
    event: 'select',
  },
  props: {
    groupPath: {
      type: String,
      required: true,
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
    selected: {
      type: Array,
      required: false,
      default: () => [],
    },
    placeholder: {
      type: String,
      required: false,
      default: frameworksDropdownPlaceholder,
    },
    isFrameworkCreatingEnabled: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      frameworkSearchQuery: '',
    };
  },
  apollo: {
    frameworks: {
      query: getComplianceFrameworkQuery,
      variables() {
        return { fullPath: this.groupPath };
      },
      update(data) {
        return data.namespace.complianceFrameworks.nodes;
      },
      error(error) {
        createAlert({
          message: __('Something went wrong on our end.'),
        });
        Sentry.captureException(error);
      },
    },
  },
  computed: {
    toggleText() {
      return this.getToggleText() || this.placeholder;
    },
    frameworksDropdownItems() {
      return (this.frameworks ?? [])
        .filter((entry) =>
          entry.name.toLowerCase().includes(this.frameworkSearchQuery.toLowerCase()),
        )
        .map((entry) => ({
          text: entry.name,
          color: entry.color,
          value: entry.id,
          extraAttrs: {},
        }));
    },
  },
  methods: {
    getToggleText() {
      const maxFrameworks = 5;
      const maxTextLength = 30;

      const selectedFrameworksNames = (this.frameworks ?? [])
        .filter((f) => this.selected.includes(f.id))
        .slice(0, maxFrameworks)
        .map((f) => f.name);

      const combinedNames = selectedFrameworksNames.join(', ');

      const text =
        combinedNames.length < maxTextLength
          ? combinedNames
          : combinedNames.slice(0, maxTextLength).concat('...');
      return text;
    },
    createNewFramework() {
      this.$refs.listbox.close();
      this.$emit('create');
    },
    getFrameworkById(id) {
      return this.frameworks?.find((f) => f.id === id) || null;
    },
  },
  i18n: {
    frameworksDropdownPlaceholder,
    createNewFramework: s__('ComplianceReport|Create a new framework'),
  },
};
</script>
<template>
  <gl-collapsible-listbox
    ref="listbox"
    :selected="selected"
    :loading="$apollo.queries.frameworks.loading"
    :toggle-text="toggleText"
    :disabled="disabled"
    :header-text="$options.i18n.frameworksDropdownPlaceholder"
    :items="frameworksDropdownItems"
    multiple
    searchable
    role="button"
    tabindex="0"
    fluid-width
    @select="$emit('select', $event)"
    @search="frameworkSearchQuery = $event"
  >
    <template v-if="$scopedSlots.toggle" #toggle><slot name="toggle"></slot></template>
    <template #list-item="{ item }">
      <div class="gl-mr-2">
        <framework-badge :show-popover="false" :framework="getFrameworkById(item.value)" />
      </div>
    </template>
    <template #footer>
      <div
        v-if="isFrameworkCreatingEnabled"
        class="gl-border-t-solid gl-border-t-1 gl-border-t-gray-100 gl-display-flex gl-flex-direction-column gl-p-2! gl-pt-0!"
      >
        <gl-button
          category="tertiary"
          block
          class="gl-justify-content-start! gl-mt-2!"
          @click="createNewFramework"
        >
          {{ $options.i18n.createNewFramework }}
        </gl-button>
      </div>
    </template>
  </gl-collapsible-listbox>
</template>
